<a href="https://colab.research.google.com/github/philipsarkis/461pFinalProject/blob/main/dsp_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
%%bash
# Install and update essential libraries
apt -q update
apt install -y -q tree

Get:1 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Get:2 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Ign:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Ign:4 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Get:5 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release [697 B]
Hit:6 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:7 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release.gpg [836 B]
Get:8 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Hit:9 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:10 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:11 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:12 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [395 kB]
Get:13 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Get:14 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease [15.9 kB]
Get:15 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,410 kB]
Get:16 http://security.ubuntu.com/ubuntu bionic-security/multiverse amd64 Packages [24.5 kB]
Get:17 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,116 kB]
Hit:19 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Ign:20 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages
Get:20 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages [740 kB]
Get:21 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [1,756 kB]
Get:22 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,181 kB]
Get:23 http://archive.ubuntu.com/ubuntu bionic-updates/multiverse amd64 Packages [31.4 kB]
Get:24 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [425 kB]
Get:25 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [2,546 kB]
Get:26 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [899 kB]
Get:27 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic/main amd64 Packages [39.5 kB]
Fetched 12.9 MB in 4s (3,143 kB/s)
Reading package lists...
Building dependency tree...
Reading state information...
79 packages can be upgraded. Run 'apt list --upgradable' to see them.
Reading package lists...
Building dependency tree...
Reading state information...
The following NEW packages will be installed:
  tree
0 upgraded, 1 newly installed, 0 to remove and 79 not upgraded.
Need to get 40.7 kB of archives.
After this operation, 105 kB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic/universe amd64 tree amd64 1.7.0-5 [40.7 kB]
Fetched 40.7 kB in 0s (111 kB/s)
Selecting previously unselected package tree.
(Reading database ... 160983 files and directories currently installed.)
Preparing to unpack .../tree_1.7.0-5_amd64.deb ...
Unpacking tree (1.7.0-5) ...
Setting up tree (1.7.0-5) ...
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...

WARNING: apt does not have a stable CLI interface. Use with caution in scripts.


WARNING: apt does not have a stable CLI interface. Use with caution in scripts.

In [ ]:
# Download a file from Google Drive using FILE_ID

# Install the PyDrive wrapper & import libraries.
# This only needs to be done once per notebook.
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

# Authenticate and create the PyDrive client.
# This only needs to be done once per notebook.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)
# Download a file based on its file ID.
#
# A file ID looks like: 1rhnzJ8CD9Amdz5OMi8s4kqT5b00jY5k4
# Visit https://help.meiro.io/en/articles/2245027-where-can-i-find-the-file-id-on-google-drive
# for more details on getting the FILE ID.

def download_file(file_id, file_name):
    '''
    file_id: Make sure that you can access this file from your account or else, this will not run
    file_name: Name of the file by which you want to save
    '''
    downloaded = drive.CreateFile({'id': file_id})
    downloaded.GetContentFile(file_name)
    print('Downloaded file with ID {} and name {}'.format(file_id, file_name))
  
def upload_file(file_name):
    # If the file is large, upload to Google Drive to download easily.
    # Upload a file from the current VM.

    uploaded = drive.CreateFile({'title': file_name})
    uploaded.SetContentFile(file_name)
    uploaded.Upload()
    print('Uploaded file with ID {}'.format(uploaded.get('id')))

In [ ]:
download_file('1hDOg7vrsVb6gvpH6qM84tG2Fwz1ndIpE', 'archive.zip')

Downloaded file with ID 1hDOg7vrsVb6gvpH6qM84tG2Fwz1ndIpE and name archive.zip

In [ ]:
!unzip 'drinve/MyDrive/archive.zip'

Archive:  drive/MyDrive/archive.zip
replace IMDB_movie_details.json? [y]es, [n]o, [A]ll, [N]one, [r]ename:

In [ ]:
!unzip 'archive.zip'

Archive:  archive.zip
  inflating: IMDB_movie_details.json
  inflating: IMDB_reviews.json

In [ ]:
import pandas as pd

In [ ]:
reviews = pd.read_json('IMDB_reviews.json',lines=True)
reviews.head()

        review_date  ...                                 review_summary
0  10 February 2006  ...  A classic piece of unforgettable film-making.
1  6 September 2000  ...     Simply amazing. The best film of the 90's.
2     3 August 2001  ...               The best story ever told on film
3  1 September 2002  ...                     Busy dying or busy living?
4       20 May 2004  ...         Great story, wondrously told and acted

[5 rows x 7 columns]

In [ ]:
movies = pd.read_json('IMDB_movie_details.json',lines=True)
movies.head()

    movie_id  ...                                      plot_synopsis
0  tt0105112  ...  Jack Ryan (Ford) is on a "working vacation" in...
1  tt1204975  ...  Four boys around the age of 10 are friends in ...
2  tt0243655  ...
3  tt0040897  ...  Fred Dobbs (Humphrey Bogart) and Bob Curtin (T...
4  tt0126886  ...  Jim McAllister (Matthew Broderick) is a much-a...

[5 rows x 7 columns]

In [ ]:
test = pd.DataFrame()
test = test.append(movies.loc[movies['movie_id'] == 'tt0105112'])
test.head()

    movie_id  ...                                      plot_synopsis
0  tt0105112  ...  Jack Ryan (Ford) is on a "working vacation" in...

[1 rows x 7 columns]

In [ ]:
movie_ids = reviews['movie_id']
to_append = pd.DataFrame()
j = 0
for i in movie_ids:
  to_append = to_append.append(movies.loc[movies['movie_id'] == i])
  if j%5000 == 0:
    print(j)
  j+= 1
to_append.head()

0
5000
10000
15000
20000
25000
30000
35000
40000
45000
50000
55000
60000
65000
70000
75000
80000
85000
90000
95000
100000
105000
110000
115000
120000
125000
130000
135000
140000
145000
150000
155000
160000
165000
170000
175000
180000
185000
190000
195000
200000
205000
210000
215000
220000
225000
230000
235000
240000
245000
250000
255000
260000
265000
270000
275000
280000
285000
290000
295000
300000
305000
310000
315000
320000
325000
330000
335000
340000
345000
350000
355000
360000
365000
370000
375000
380000
385000
390000
395000
400000
405000
410000
415000
420000
425000
430000
435000
440000
445000
450000
455000
460000
465000
470000
475000
480000
485000
490000
495000
500000
505000
510000
515000
520000
525000
530000
535000
540000
545000
550000
555000
560000
565000
570000

       movie_id  ...                                      plot_synopsis
1263  tt0111161  ...  In 1947, Andy Dufresne (Tim Robbins), a banker...
1263  tt0111161  ...  In 1947, Andy Dufresne (Tim Robbins), a banker...
1263  tt0111161  ...  In 1947, Andy Dufresne (Tim Robbins), a banker...
1263  tt0111161  ...  In 1947, Andy Dufresne (Tim Robbins), a banker...
1263  tt0111161  ...  In 1947, Andy Dufresne (Tim Robbins), a banker...

[5 rows x 7 columns]

In [ ]:
bbbbbbbbb

In [ ]:
reviews.shape

(573913, 7)

In [ ]:
to_append.head()

       movie_id  ...                                      plot_synopsis
1263  tt0111161  ...  In 1947, Andy Dufresne (Tim Robbins), a banker...
1263  tt0111161  ...  In 1947, Andy Dufresne (Tim Robbins), a banker...
1263  tt0111161  ...  In 1947, Andy Dufresne (Tim Robbins), a banker...
1263  tt0111161  ...  In 1947, Andy Dufresne (Tim Robbins), a banker...
1263  tt0111161  ...  In 1947, Andy Dufresne (Tim Robbins), a banker...

[5 rows x 7 columns]

In [ ]:
to_append.to_csv("to_append.csv")

In [ ]:
to_append.shape

(573906, 7)

In [ ]:
%%bash

pip install httplib2==0.15.0

Requirement already satisfied: httplib2==0.15.0 in /usr/local/lib/python3.7/dist-packages (0.15.0)

In [ ]:
upload_file("append.zip")

RedirectMissingLocation: ignored

In [ ]:
%%bash
zip append.zip to_append.csv

  adding: to_append.csv (deflated 94%)

In [ ]:
file_list = drive.ListFile({'q': "'root' in parents and trashed=false"}).GetList()
for file1 in file_list:       
    print ('title: %s, id: %s' % (file1['title'], file1['id']))
sys.exit()

title: archive.zip, id: 1hDOg7vrsVb6gvpH6qM84tG2Fwz1ndIpE
title: ANS Paper, id: 1GohI4FO1sC7ySz_0lj3VRraCSNPN-i2SwomMk_uu-Sg
title: Kaggle Writeup, id: 1R5K5fLk8khKYTYDfKuMwxBJ8bnGCanl0NcnbVUanE8o
title: DSP Final Proposal, id: 14CMd3Gm0dfohRbo7V1K_re3pDGkczdxJCKHa3HhRKI8
title: train_final.csv, id: 11DRW2sehLt4gHTQsuTtEJf1reTrRkfj9
title: test_final.csv, id: 1dMcohMzDlDzUdX5m8B7Ko4VCaO6xeta-
title: midterm1_Sahil_Vaidya.doc, id: 15ToU9emPJ8nedhbfhJjSVb9_jzcPPYHv
title: Thought Paper 1, id: 1AAHtGgHITsRoyqCivH3-qOelx94gPHAWZ3JPkradqm8
title: Data Notes, id: 1wNBUm6mbVPbUoFoU72zhoeBF2d4ytrs5ECmo8VZhqXY
title: Hendrickson Contract Service Document_Vaidya.xlsx, id: 116d-YhOoQM7RVmuszF9ck09xuKUvsMiW
title: w-9_vaidya.pdf, id: 1s3uiwI4KgbbBwLk191-7-hj7zZozpLyx
title: Untitled Diagram.drawio, id: 1wW6M06d6POUEurgH2VATzWyPt1djco2C
title: Untitled Diagram.drawio, id: 1YpFgaAuWSi2QVgjSgcEdBVDRHTjaRZCW
title: task4.drawio, id: 1-ObdDZP-_fwRGcWX-TgbkaDhll3rIMNa
title: task2.drawio, id: 1SGKon0LaF1XiA2o6ZKhMklXDk8pbW0rh
title: task3.drawio, id: 1JRcbadO3AZGZET3uhjunnWSIHlrBiAV8
title: History Essays, id: 1xsFcZF_c1byLyDSW_E_tGJxm8qp2P7AlWcyQt80sZlY
title: lab4_report.docx, id: 1XoUOV1cmEI3NLzsjceKcAE8J7dsAOFS8
title: Build Management, id: 1E9amdv4ujVcH7uF9H5b6VAc8Mls3EtEU4FxAeYYcfWc
title: College Mapping, id: 19GB76w9F1exGL4WAfPBt5AKuq2kSlVH8KX681Cz2rhc
title: sequence_diagram.html, id: 1KFJPRJ0bNqlYKdQogMvmemK98EUHVcj2
title: class_diagram.html, id: 13dCnSUL7qMZtdFs2iSx0oFeLspdHUzXQ
title: state_diagram.html, id: 1PTh5KlrmF1Ytdhs3Ln8Z39lwjH9jIuFw
title: library_use_case.html, id: 1V39G5rHy7J0mQpteO0LFlhermrV84NvQ
title: Bootstrap Submission, id: 1iuzmYK3wNos9KzGqWqzdfdm4GG_v-kpkK6Ti-r7MOAo
title: Tech Showcase, id: 1mdjm1s6v2Ls8D0ISR0TAA8uhDEL5xLxEBm9WTZJb43s
title: Flask Tutorial Writeup, id: 10XIT_UCqVscK3MY2q45o2CZ4-aPl1pnhHC4UnBjwY6Y
title: Tutorial 2, id: 1ZVwOJjZRu1u_4eYhDoBXwHqRf1OxS-5rW-LRnW0gZd8
title: renters insurance.pdf, id: 1Qkgoz0yuS2RyS6bFcrQ0-fuaZv6COzSH
title: Expenses, id: 1O7DDFsDNfPMSF0WITQdpcAazluP99TpbEtbA2Ip7YjA
title: Colab Notebooks, id: 1kl06U_Ir55SiFOW-I4P3XgFVOPf9dz8Q
title: Internship Notes, id: 1Ec6-_lvgObAh4O0MOWcVvXW02Ag8yO1LDCTKEDmLZ2Y
title: GEMS NPM - online T + C_ v2.docx, id: 13OjglnXIV0lRhXJe3tWbdFbv3l2abL7T
title: BRL-CAD Notes, id: 1zXQ628t3qyPKz_YAOjke7exOBPRKVzgQKtWyLYp7_Gk
title: Neuro Exam 3, id: 13cxUAJispeZFicvqGajkhkzqQpExeK9wleKN8hTj164
title: 6 - Apple.pptx, id: 1rtYNgJziBmoZ0621KnEq8ZFA0UJ2N7E3
title: Eanes invoice, id: 13z_-F2T7792SuroXu-PKNolZBXjhfGSkLwQN3uQOKJU
title: Untitled document, id: 1N7ZOBZEyhlA9fR2UKPoUY7WdvtV776ibrKBjVa2A9Cc
title: Neuro Exam 2, id: 1tp4VXXgVX4k6d3VWSfKZwIt4LczcEUCE
title: 20191004_Student_Outreach_Project_BRLCAD_automated_testing_infrastructure, id: 1RL3Es9BAd53ZzRDVs29YP83b_kgK2IfKvr8WhNXVeU8
title: 20191004_Student_Outreach_Project_BRLCAD_automated_testing_infrastructure.docx, id: 0B-y1DTG5QHlNelBZcWoxRHptZVZLQ0ZJczBMcTJDcDI5REln
title: Ski Phone Numbers, id: 1OcEKI97p-tmt5n7-L0vrjrryMHVAo831AVziMZoZTRw
title: budget, id: 1HdFeKwZ_pR0pawn1GZlnfQD1kqqq5Jd0m-nmh_qgMm0
title: README.docx, id: 11MAmMLx8m0EsvaQRSLjO_jkM8AUJLzE7
title: 333T Team Project, id: 1CCWiTbVxlXYLcMLp9iwjOVajk0xEsytZ
title: How much do i spendsheet, id: 1ohf_Q-OiVHejY5W3jhi-BxJZYhbPVkax6GKLZKQv8C8
title: Article Summary, id: 1D1pecggrt6i_XH_ExwDPsYY_zMWSKz-Hfj5b0h0awVA
title: What do I need to get, id: 1ht6Hb1a2G4xqtC91F1-m3cOXUWfhhaXImMzy0l5-LT8
title: Costa Brava itinerary_UTA_industry_2019.pdf, id: 0B-y1DTG5QHlNdDEtRFY4NlFPb1R2UXhPdE1jN3NEanF1eU1R
title: Energy Video, id: 175CDt4lb0YWdjJJkvjCTRorEYxN6cvD8FEepHXhBkgU
title: Susanna S. Epp - Discrete Mathematics_ Introduction to Mathematical Reasoning (2011, Brooks_Cole).pdf, id: 1mWHkdyqdwW4H2Gp6eAr-aU1xMuDwSNQN
title: UT Classes, id: 1ovUSElmCLiW4J28OEYR_n1wq_J4S-vCj
title: Untitled document, id: 1e_097cZnuZyI39NwEZAh0IBDxb0mBeAy8xZ3I-SA7pA
title: What People Owe Me, id: 1d2WMyisW49mPeQxCUysLWtr8N8sEohtw6r-mgZ4LA7o
title: Questions for Advisors, id: 1Ar4PyJiV3EGHHbrCxW8XFys7eRbSxnNRcxgmesGY-UU
title: Grade School, id: 1ISbjadgcnr7_eLKJ-SX___A8ub6QcKw-

NameError: ignored

Day 2

In [ ]:
to_append = pd.read_csv('drive/MyDrive/to_append.csv')
to_append.head()

   Unnamed: 0  ...                                      plot_synopsis
0        1263  ...  In 1947, Andy Dufresne (Tim Robbins), a banker...
1        1263  ...  In 1947, Andy Dufresne (Tim Robbins), a banker...
2        1263  ...  In 1947, Andy Dufresne (Tim Robbins), a banker...
3        1263  ...  In 1947, Andy Dufresne (Tim Robbins), a banker...
4        1263  ...  In 1947, Andy Dufresne (Tim Robbins), a banker...

[5 rows x 8 columns]

In [ ]:
to_append.shape

(573906, 8)

In [ ]:
reviews.shape

(573906, 7)

In [ ]:
reviews.drop(reviews.tail(7).index,inplace = True)

AttributeError: ignored

In [ ]:
merge = pd.merge(reviews,to_append, left_index=True, right_index=True)
merge.head()

        review_date  ...                                      plot_synopsis
0  10 February 2006  ...  In 1947, Andy Dufresne (Tim Robbins), a banker...
1  6 September 2000  ...  In 1947, Andy Dufresne (Tim Robbins), a banker...
2     3 August 2001  ...  In 1947, Andy Dufresne (Tim Robbins), a banker...
3  1 September 2002  ...  In 1947, Andy Dufresne (Tim Robbins), a banker...
4       20 May 2004  ...  In 1947, Andy Dufresne (Tim Robbins), a banker...

[5 rows x 15 columns]

In [ ]:
merge.shape

(573906, 15)

In [ ]:
merge.to_csv("dataset.csv")

In [ ]:
%%bash
zip dataset.zip dataset.csv

  adding: dataset.csv (deflated 89%)

In [ ]:
X = merge.drop("is_spoiler", 1)
y = merge['is_spoiler']

In [ ]:
X['movie_id_x'].value_counts()

tt0468569    4845
tt0111161    4361
tt0167260    2729
tt0137523    2480
tt0068646    2137
             ...
tt0107719      12
tt6294822      11
tt0104014       5
tt0201265       4
tt0114142       2
Name: movie_id_x, Length: 1572, dtype: int64

In [ ]:
len(X['movie_id_x'].unique())

1572

1572 unique movies in dataset, ranging from 5000 reviews to 2 reviews

In [ ]:
X.drop(["user_id","Unnamed: 0"],1,inplace=True)
X.head()

        review_date  ...                                      plot_synopsis
0  10 February 2006  ...  In 1947, Andy Dufresne (Tim Robbins), a banker...
1  6 September 2000  ...  In 1947, Andy Dufresne (Tim Robbins), a banker...
2     3 August 2001  ...  In 1947, Andy Dufresne (Tim Robbins), a banker...
3  1 September 2002  ...  In 1947, Andy Dufresne (Tim Robbins), a banker...
4       20 May 2004  ...  In 1947, Andy Dufresne (Tim Robbins), a banker...

[5 rows x 12 columns]

In [ ]:
X.drop(["movie_id_y"],1,inplace=True)
X.head()

        review_date  ...                                      plot_synopsis
0  10 February 2006  ...  In 1947, Andy Dufresne (Tim Robbins), a banker...
1  6 September 2000  ...  In 1947, Andy Dufresne (Tim Robbins), a banker...
2     3 August 2001  ...  In 1947, Andy Dufresne (Tim Robbins), a banker...
3  1 September 2002  ...  In 1947, Andy Dufresne (Tim Robbins), a banker...
4       20 May 2004  ...  In 1947, Andy Dufresne (Tim Robbins), a banker...

[5 rows x 11 columns]

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, roc_auc_score
from sklearn.preprocessing import OneHotEncoder

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [ ]:
X_train_continuous = X_train.drop(["review_date","review_text","review_summary","plot_summary","duration","genre","plot_synopsis", "movie_id_x","release_date"],1)
lr = LogisticRegression()
lr.fit(X_train_continuous,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
X_test.shape

(189389, 11)

In [ ]:
X_test_continuous = X_test.drop(["review_date","review_text","review_summary","plot_summary","duration","genre","plot_synopsis", "movie_id_x","release_date"],1)
y_pred = lr.predict(X_test_continuous)
print("accuracy is ", accuracy_score(y_test,y_pred))
print("auc score is ", roc_auc_score(y_test,y_pred))

accuracy is  0.7375771560122288
auc score is  0.5

Can predict with decent accuracy but likely because there are more non-spoilers than spoilers shown by the auc score

In [ ]:
OneHotEncoder().fit_transform(X_train)

ValueError: ignored

In [ ]:
X_train.isna().sum()

review_date           0
movie_id_x            0
review_text           0
rating_x              0
review_summary        0
plot_summary          0
duration              0
genre                 0
rating_y              0
release_date          0
plot_synopsis     23566
dtype: int64

In [ ]:
X_train.fillna('',inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4327: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [ ]:
X_train.isna().sum()

review_date       0
movie_id_x        0
review_text       0
rating_x          0
review_summary    0
plot_summary      0
duration          0
genre             0
rating_y          0
release_date      0
plot_synopsis     0
dtype: int64

In [ ]:
X_train_enc = pd.DataFrame((OneHotEncoder().fit_transform(X_train)).toarray())

NameError: ignored

In [ ]:
X_train_enc.head()

              review_date  ...                                      plot_synopsis
160        4 October 2017  ...  In 1947, Andy Dufresne (Tim Robbins), a banker...
309745     19 August 2014  ...  It's 1995. Jimmy "B-Rabbit" Smith Jr. (Eminem)...
119676  23 September 2010  ...  Set in a surreal world where our whole society...
394727    1 February 2007  ...  The Prestige begins with shots of several doze...
299024       3 March 2001  ...  The film takes place 10 years after the events...

[5 rows x 11 columns]

Day 3

In [ ]:
!unzip 'drive/MyDrive/dataset.zip'

Archive:  drive/MyDrive/dataset.zip
  inflating: dataset.csv

In [ ]:
df = pd.read_csv("dataset.csv")

In [ ]:
!pip install -q wordcloud

In [ ]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
from nltk.corpus import stopwords
stop = stopwords.words('english')

In [ ]:
df['review_text'].apply(lambda x: [item for item in x if item not in stop])

0         [I, n,  ,  , O, c, r,  , e, r, ,,  , S, h, w, ...
1         [T, h, e,  , S, h, w, h, n, k,  , R, e, e, p, ...
2         [I,  , b, e, l, e, v, e,  , h,  , h,  , f, l, ...
3         [*, *, Y, e, ,,  , h, e, r, e,  , r, e,  , S, ...
4         [A,  , h, e,  , h, e, r,  , f,  , h,  , e, x, ...
                                ...
573901    [I, ',  , e,  ,  , c, k, n, w, l, e, g, e,  , ...
573902    [I,  , w, e, n,  ,  , h, e,  , v, e,  , l,  , ...
573903    [N,  , b, ,,  , n,  , b,  ,  , l, l, .,  ,  , ...
573904    [I,  , h, n, k,  , h,  , v, e,  , w,  , u, n, ...
573905    [I,  , w,  , G, !,  ,  ,  , k, n,  , w, h,  , ...
Name: review_text, Length: 573906, dtype: object

In [ ]:
df['review_text']

0         In its Oscar year, Shawshank Redemption (writt...
1         The Shawshank Redemption is without a doubt on...
2         I believe that this film is the best story eve...
3         **Yes, there are SPOILERS here**This film has ...
4         At the heart of this extraordinary movie is a ...
                                ...
573901    It's time to acknowledge for once that Pulp Fi...
573902    I went to the movies last night, and had the o...
573903    Not bad, not bad at all.  I am a sucker for a ...
573904    I think this movie was under-appreciated by Am...
573905    I saw Go! as a knot with no bows - a very inte...
Name: review_text, Length: 573906, dtype: object

In [ ]:
df['review_without_stopwords'] = df['review_text'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))

In [ ]:
df['review_without_stopwords']

0         In Oscar year, Shawshank Redemption (written d...
1         The Shawshank Redemption without doubt one bri...
2         I believe film best story ever told film, I'm ...
3         **Yes, SPOILERS here**This film emotional impa...
4         At heart extraordinary movie brilliant indelib...
                                ...
573901    It's time acknowledge Pulp Fiction pioneer fil...
573902    I went movies last night, option watching Go W...
573903    Not bad, bad all. I sucker film plays havoc 'p...
573904    I think movie under-appreciated American audie...
573905    I saw Go! knot bows - interesting look teenage...
Name: review_without_stopwords, Length: 573906, dtype: object

In [ ]:
df['description_without_stopwords'] = df['plot_synopsis'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))

AttributeError: ignored

In [ ]:
df.fillna('',inplace=True)

In [ ]:
df['description_without_stopwords'] = df['plot_synopsis'].apply(lambda x: ' '.join([word for word in str(x).split() if word not in (stop)]))

In [ ]:
df['description_without_stopwords']

0         In 1947, Andy Dufresne (Tim Robbins), banker M...
1         In 1947, Andy Dufresne (Tim Robbins), banker M...
2         In 1947, Andy Dufresne (Tim Robbins), banker M...
3         In 1947, Andy Dufresne (Tim Robbins), banker M...
4         In 1947, Andy Dufresne (Tim Robbins), banker M...
                                ...
573901    The film told chronological format, story told...
573902    The film told chronological format, story told...
573903    The film told chronological format, story told...
573904    The film told chronological format, story told...
573905    The film told chronological format, story told...
Name: description_without_stopwords, Length: 573906, dtype: object

In [ ]:
refined_df = df.drop(["user_id","Unnamed: 0","movie_id_x","review_text","plot_synopsis"],1)
refined_df

              review_date  ...                      description_without_stopwords
0        10 February 2006  ...  In 1947, Andy Dufresne (Tim Robbins), banker M...
1        6 September 2000  ...  In 1947, Andy Dufresne (Tim Robbins), banker M...
2           3 August 2001  ...  In 1947, Andy Dufresne (Tim Robbins), banker M...
3        1 September 2002  ...  In 1947, Andy Dufresne (Tim Robbins), banker M...
4             20 May 2004  ...  In 1947, Andy Dufresne (Tim Robbins), banker M...
...                   ...  ...                                                ...
573901  11 September 1999  ...  The film told chronological format, story told...
573902   4 September 1999  ...  The film told chronological format, story told...
573903     22 August 1999  ...  The film told chronological format, story told...
573904     18 August 1999  ...  The film told chronological format, story told...
573905     29 August 1999  ...  The film told chronological format, story told...

[573906 rows x 13 columns]

In [ ]:
refined_df = refined_df.drop(["Unnamed: 0.1"],1)
refined_df

              review_date  ...                      description_without_stopwords
0        10 February 2006  ...  In 1947, Andy Dufresne (Tim Robbins), banker M...
1        6 September 2000  ...  In 1947, Andy Dufresne (Tim Robbins), banker M...
2           3 August 2001  ...  In 1947, Andy Dufresne (Tim Robbins), banker M...
3        1 September 2002  ...  In 1947, Andy Dufresne (Tim Robbins), banker M...
4             20 May 2004  ...  In 1947, Andy Dufresne (Tim Robbins), banker M...
...                   ...  ...                                                ...
573901  11 September 1999  ...  The film told chronological format, story told...
573902   4 September 1999  ...  The film told chronological format, story told...
573903     22 August 1999  ...  The film told chronological format, story told...
573904     18 August 1999  ...  The film told chronological format, story told...
573905     29 August 1999  ...  The film told chronological format, story told...

[573906 rows x 12 columns]

In [ ]:
refined_df['review_summary_without_stopwords'] = refined_df['review_summary'].apply(lambda x: ' '.join([word for word in str(x).split() if word not in (stop)]))

In [ ]:
refined_df['plot_summary_without_stopwords'] = refined_df['plot_summary'].apply(lambda x: ' '.join([word for word in str(x).split() if word not in (stop)]))

In [ ]:
refined_df

              review_date  ...                     plot_summary_without_stopwords
0        10 February 2006  ...  Chronicles experiences formerly successful ban...
1        6 September 2000  ...  Chronicles experiences formerly successful ban...
2           3 August 2001  ...  Chronicles experiences formerly successful ban...
3        1 September 2002  ...  Chronicles experiences formerly successful ban...
4             20 May 2004  ...  Chronicles experiences formerly successful ban...
...                   ...  ...                                                ...
573901  11 September 1999  ...  Told three perspectives, story bunch young Cal...
573902   4 September 1999  ...  Told three perspectives, story bunch young Cal...
573903     22 August 1999  ...  Told three perspectives, story bunch young Cal...
573904     18 August 1999  ...  Told three perspectives, story bunch young Cal...
573905     29 August 1999  ...  Told three perspectives, story bunch young Cal...

[573906 rows x 14 columns]

In [ ]:
refined_df.to_csv("refined_ds.csv")

In [ ]:
%%bash
zip dataset_rf.zip refined_ds.csv

  adding: refined_ds.csv (deflated 92%)

Day 4

In [ ]:
!unzip 'drive/MyDrive/dataset_rf.zip'

Archive:  drive/MyDrive/dataset_rf.zip
  inflating: refined_ds.csv

In [ ]:
df = pd.read_csv("refined_ds.csv")

In [ ]:
df.drop(['review_summary','plot_summary'],axis=1,inplace=True)
df

        Unnamed: 0  ...                     plot_summary_without_stopwords
0                0  ...  Chronicles experiences formerly successful ban...
1                1  ...  Chronicles experiences formerly successful ban...
2                2  ...  Chronicles experiences formerly successful ban...
3                3  ...  Chronicles experiences formerly successful ban...
4                4  ...  Chronicles experiences formerly successful ban...
...            ...  ...                                                ...
573901      573901  ...  Told three perspectives, story bunch young Cal...
573902      573902  ...  Told three perspectives, story bunch young Cal...
573903      573903  ...  Told three perspectives, story bunch young Cal...
573904      573904  ...  Told three perspectives, story bunch young Cal...
573905      573905  ...  Told three perspectives, story bunch young Cal...

[573906 rows x 13 columns]

In [ ]:
df['genre'] =  df['genre'].apply(lambda x: x.replace('[','').replace(']','').replace("'","").replace(" ",""))
df

        Unnamed: 0  ...                     plot_summary_without_stopwords
0                0  ...  Chronicles experiences formerly successful ban...
1                1  ...  Chronicles experiences formerly successful ban...
2                2  ...  Chronicles experiences formerly successful ban...
3                3  ...  Chronicles experiences formerly successful ban...
4                4  ...  Chronicles experiences formerly successful ban...
...            ...  ...                                                ...
573901      573901  ...  Told three perspectives, story bunch young Cal...
573902      573902  ...  Told three perspectives, story bunch young Cal...
573903      573903  ...  Told three perspectives, story bunch young Cal...
573904      573904  ...  Told three perspectives, story bunch young Cal...
573905      573905  ...  Told three perspectives, story bunch young Cal...

[573906 rows x 13 columns]

In [ ]:
cleaned = df.set_index('Unnamed: 0')['genres'].str.split(',', expand=True).stack()
df_dummies = pd.get_dummies(df, columns=['genre'])
df_dummies

KeyError: ignored

In [ ]:
dummies = df['genre'].str.get_dummies(sep=',')
dummies

        Action  Adventure  Animation  Biography  ...  Sport  Thriller  War  Western
0            0          0          0          0  ...      0         0    0        0
1            0          0          0          0  ...      0         0    0        0
2            0          0          0          0  ...      0         0    0        0
3            0          0          0          0  ...      0         0    0        0
4            0          0          0          0  ...      0         0    0        0
...        ...        ...        ...        ...  ...    ...       ...  ...      ...
573901       0          0          0          0  ...      0         0    0        0
573902       0          0          0          0  ...      0         0    0        0
573903       0          0          0          0  ...      0         0    0        0
573904       0          0          0          0  ...      0         0    0        0
573905       0          0          0          0  ...      0         0    0        0

[573906 rows x 21 columns]

In [ ]:
final = pd.concat([df,dummies],axis=1)
final

        Unnamed: 0        review_date  is_spoiler  ...  Thriller War Western
0                0   10 February 2006        True  ...         0   0       0
1                1   6 September 2000        True  ...         0   0       0
2                2      3 August 2001        True  ...         0   0       0
3                3   1 September 2002        True  ...         0   0       0
4                4        20 May 2004        True  ...         0   0       0
...            ...                ...         ...  ...       ...  ..     ...
573901      573901  11 September 1999       False  ...         0   0       0
573902      573902   4 September 1999       False  ...         0   0       0
573903      573903     22 August 1999       False  ...         0   0       0
573904      573904     18 August 1999       False  ...         0   0       0
573905      573905     29 August 1999       False  ...         0   0       0

[573906 rows x 34 columns]

In [ ]:
final.drop(['genre'],1,inplace=True)
final

        Unnamed: 0        review_date  is_spoiler  ...  Thriller War Western
0                0   10 February 2006        True  ...         0   0       0
1                1   6 September 2000        True  ...         0   0       0
2                2      3 August 2001        True  ...         0   0       0
3                3   1 September 2002        True  ...         0   0       0
4                4        20 May 2004        True  ...         0   0       0
...            ...                ...         ...  ...       ...  ..     ...
573901      573901  11 September 1999       False  ...         0   0       0
573902      573902   4 September 1999       False  ...         0   0       0
573903      573903     22 August 1999       False  ...         0   0       0
573904      573904     18 August 1999       False  ...         0   0       0
573905      573905     29 August 1999       False  ...         0   0       0

[573906 rows x 33 columns]

In [ ]:
final['review_date'] =  df['review_date'].apply(lambda x: x[-4:])

In [ ]:
final['release_date'] =  df['release_date'].apply(lambda x: x[:4])

In [ ]:
duration = df['duration']
duration = duration.str.replace("h","")
duration = duration.str.replace("min","")
split_dur = duration.str.split(" ")
split_dur

0         [2, 22]
1         [2, 22]
2         [2, 22]
3         [2, 22]
4         [2, 22]
           ...
573901    [1, 42]
573902    [1, 42]
573903    [1, 42]
573904    [1, 42]
573905    [1, 42]
Name: duration, Length: 573906, dtype: object

In [ ]:
minutes = []
for i in split_dur:
  if len(i) == 2:
    mins = int(i[0]) * 60 + int(i[1])
  else:
    if int(i[0]) > 6:
      mins = int(i[0])
    else:
      mins = int(i[0]) * 60
  minutes.append(mins)
minutes[-1000]

97

In [ ]:
final['duration'] = minutes
final

        Unnamed: 0 review_date  is_spoiler  ...  Thriller War  Western
0                0        2006        True  ...         0   0        0
1                1        2000        True  ...         0   0        0
2                2        2001        True  ...         0   0        0
3                3        2002        True  ...         0   0        0
4                4        2004        True  ...         0   0        0
...            ...         ...         ...  ...       ...  ..      ...
573901      573901        1999       False  ...         0   0        0
573902      573902        1999       False  ...         0   0        0
573903      573903        1999       False  ...         0   0        0
573904      573904        1999       False  ...         0   0        0
573905      573905        1999       False  ...         0   0        0

[573906 rows x 33 columns]

In [ ]:
final.dtypes

Unnamed: 0                            int64
review_date                          object
is_spoiler                             bool
rating_x                              int64
movie_id_y                           object
duration                              int64
rating_y                            float64
release_date                         object
review_without_stopwords             object
description_without_stopwords        object
review_summary_without_stopwords     object
plot_summary_without_stopwords       object
Action                                int64
Adventure                             int64
Animation                             int64
Biography                             int64
Comedy                                int64
Crime                                 int64
Drama                                 int64
Family                                int64
Fantasy                               int64
Film-Noir                             int64
History                               int64
Horror                                int64
Music                                 int64
Musical                               int64
Mystery                               int64
Romance                               int64
Sci-Fi                                int64
Sport                                 int64
Thriller                              int64
War                                   int64
Western                               int64
dtype: object

In [ ]:
final = final.astype({'review_date':'int64','release_date':'int64'})

In [ ]:
final.dtypes

Unnamed: 0                            int64
review_date                           int64
is_spoiler                             bool
rating_x                              int64
movie_id_y                           object
duration                              int64
rating_y                            float64
release_date                          int64
review_without_stopwords             object
description_without_stopwords        object
review_summary_without_stopwords     object
plot_summary_without_stopwords       object
Action                                int64
Adventure                             int64
Animation                             int64
Biography                             int64
Comedy                                int64
Crime                                 int64
Drama                                 int64
Family                                int64
Fantasy                               int64
Film-Noir                             int64
History                               int64
Horror                                int64
Music                                 int64
Musical                               int64
Mystery                               int64
Romance                               int64
Sci-Fi                                int64
Sport                                 int64
Thriller                              int64
War                                   int64
Western                               int64
dtype: object

In [ ]:
final.drop(['Unnamed: 0'],1,inplace=True)
final

        review_date  is_spoiler  rating_x  ... Thriller  War  Western
0              2006        True        10  ...        0    0        0
1              2000        True        10  ...        0    0        0
2              2001        True         8  ...        0    0        0
3              2002        True        10  ...        0    0        0
4              2004        True         8  ...        0    0        0
...             ...         ...       ...  ...      ...  ...      ...
573901         1999       False        10  ...        0    0        0
573902         1999       False         9  ...        0    0        0
573903         1999       False         9  ...        0    0        0
573904         1999       False        10  ...        0    0        0
573905         1999       False         8  ...        0    0        0

[573906 rows x 32 columns]

In [ ]:
final.to_csv("final_dataset.csv")

In [ ]:
!zip final_dataset.zip final_dataset.csv

  adding: final_dataset.csv (deflated 92%)

Day 5

In [ ]:
!unzip 'drive/MyDrive/final_dataset.zip'

Archive:  drive/MyDrive/final_dataset.zip
  inflating: final_dataset.csv

In [ ]:
df = pd.read_csv('final_dataset.csv')

In [ ]:
df["new_column"] = df['review_summary_without_stopwords'].str.replace('[^\w\s]','')
df

        Unnamed: 0  ...                                         new_column
0                0  ...           A classic piece unforgettable filmmaking
1                1  ...                   Simply amazing The best film 90s
2                2  ...                      The best story ever told film
3                3  ...                             Busy dying busy living
4                4  ...                  Great story wondrously told acted
...            ...  ...                                                ...
573901      573901  ...  Go gave I wanted 103 minutes action lots super...
573902      573902  ...                                        Right money
573903      573903  ...                 Did somebody say Quentin Tarantino
573904      573904  ...                         innovative rockinI love Go
573905      573905  ...                                          knot bows

[573906 rows x 34 columns]

In [ ]:
df['review_summary_without_stopwords']([y for x in df.values.flatten() for y in str(x).split()]).value_counts()

Lets try fitting models on the non-text variables

In [ ]:
!pip install catboost

Collecting catboost
  Downloading https://files.pythonhosted.org/packages/47/80/8e9c57ec32dfed6ba2922bc5c96462cbf8596ce1a6f5de532ad1e43e53fe/catboost-0.25.1-cp37-none-manylinux1_x86_64.whl (67.3MB)
     |████████████████████████████████| 67.3MB 64kB/s
Requirement already satisfied: graphviz in /usr/local/lib/python3.7/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.19.5)
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (from catboost) (4.4.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.1.5)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from plotly->catboost) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (1.3.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Installing collected packages: catboost
Successfully installed catboost-0.25.1

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.datasets import make_moons, make_circles, make_classification
from sklearn.neural_network import MLPClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.gaussian_process import GaussianProcessClassifier
from sklearn.gaussian_process.kernels import RBF
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis
from catboost import CatBoostClassifier
from xgboost import XGBClassifier
from sklearn.linear_model import SGDClassifier
from lightgbm import LGBMClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, roc_auc_score
from sklearn.preprocessing import LabelEncoder
from sklearn.inspection import permutation_importance

In [ ]:
classifiers = [[CatBoostClassifier(verbose=0),'CatBoost Classifier'],[XGBClassifier(),'XGB Classifier'], [RandomForestClassifier(),'Random Forest'], 
    [KNeighborsClassifier(), 'K-Nearest Neighbours'], [SGDClassifier(),'SGD Classifier'], [SVC(),'SVC'],[LGBMClassifier(),'LGBM Classifier'],
              [GaussianNB(),'GaussianNB'],[DecisionTreeClassifier(),'Decision Tree Classifier'],[LogisticRegression(),'Logistic Regression']]

In [ ]:
names = ["Nearest Neighbors", "Linear SVM", "RBF SVM", "Gaussian Process",
         "Decision Tree", "Random Forest", "Neural Net", "AdaBoost",
         "Naive Bayes", "QDA"]

In [ ]:
X = df.copy()
y = X['is_spoiler']
X = X.drop(["review_without_stopwords","description_without_stopwords","review_summary_without_stopwords","plot_summary_without_stopwords"],1)

In [ ]:
X.drop(["Unnamed: 0"], 1,inplace=True)

In [ ]:
X = X.drop(['is_spoiler'],1)
X

        review_date  rating_x movie_id_y  ...  Thriller  War  Western
0              2006        10  tt0111161  ...         0    0        0
1              2000        10  tt0111161  ...         0    0        0
2              2001         8  tt0111161  ...         0    0        0
3              2002        10  tt0111161  ...         0    0        0
4              2004         8  tt0111161  ...         0    0        0
...             ...       ...        ...  ...       ...  ...      ...
573901         1999        10  tt0139239  ...         0    0        0
573902         1999         9  tt0139239  ...         0    0        0
573903         1999         9  tt0139239  ...         0    0        0
573904         1999        10  tt0139239  ...         0    0        0
573905         1999         8  tt0139239  ...         0    0        0

[573906 rows x 27 columns]

In [ ]:
X.drop(['movie_id_y'],1,inplace=True)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

In [ ]:
def predict(X_train, y_train,X_test,y_test):
    for cls in classifiers:
        model = cls[0]
        model.fit(X_test, y_test)

        y_pred = model.predict(X_test)
        print(cls[1])
        print("Accuracy : ", accuracy_score(y_test, y_pred) *  100)
        print("Roc AUC score: ", roc_auc_score(y_test,y_pred))

In [ ]:
X_train.dtypes

review_date       int64
rating_x          int64
duration          int64
rating_y        float64
release_date      int64
Action            int64
Adventure         int64
Animation         int64
Biography         int64
Comedy            int64
Crime             int64
Drama             int64
Family            int64
Fantasy           int64
Film-Noir         int64
History           int64
Horror            int64
Music             int64
Musical           int64
Mystery           int64
Romance           int64
Sci-Fi            int64
Sport             int64
Thriller          int64
War               int64
Western           int64
dtype: object

In [ ]:
predict(X_train, y_train,X_test,y_test)

CatBoost Classifier

TypeError: ignored

In [ ]:
lr = LogisticRegression()
lr.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
y_pred = lr.predict(X_test)
print("Logistic Regression")
print("Accuracy : ", accuracy_score(y_test, y_pred) *  100)
print("Roc AUC score: ", roc_auc_score(y_test,y_pred))

Logistic Regression
Accuracy :  73.79161816876572
Roc AUC score:  0.5000132964578237

In [ ]:
rf = RandomForestClassifier()
rf.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [ ]:
y_pred = rf.predict(X_test)
print("Random Forest")
print("Accuracy : ", accuracy_score(y_test, y_pred) *  100)
print("Roc AUC score: ", roc_auc_score(y_test,y_pred))

Random Forest
Accuracy :  70.88453201558438
Roc AUC score:  0.5372453219755127

In [ ]:
xgb = XGBClassifier()
xgb.fit(X_train,y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [ ]:
y_pred = xgb.predict(X_test)
print("XGBoost")
print("Accuracy : ", accuracy_score(y_test, y_pred) *  100)
print("Roc AUC score: ", roc_auc_score(y_test,y_pred))

XGBoost
Accuracy :  73.79092119294381
Roc AUC score:  0.5

In [ ]:
gnb = GaussianNB()
gnb.fit(X_train,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [ ]:
y_pred = gnb.predict(X_test)
print("Gaussian Naive Bayes")
print("Accuracy : ", accuracy_score(y_test, y_pred) *  100)
print("Roc AUC score: ", roc_auc_score(y_test,y_pred))

Gaussian Naive Bayes
Accuracy :  64.86056998682716
Roc AUC score:  0.5738662778432911

In [ ]:
lgbm = LGBMClassifier()
lgbm.fit(X_train,y_train)

LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
               importance_type='split', learning_rate=0.1, max_depth=-1,
               min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
               n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
               random_state=None, reg_alpha=0.0, reg_lambda=0.0, silent=True,
               subsample=1.0, subsample_for_bin=200000, subsample_freq=0)

In [ ]:
y_pred = lgbm.predict(X_test)
print("Light GBM")
print("Accuracy : ", accuracy_score(y_test, y_pred) *  100)
print("Roc AUC score: ", roc_auc_score(y_test,y_pred))

Light GBM
Accuracy :  73.91080103431213
Roc AUC score:  0.5054164344744163

In [ ]:
knn = KNeighborsClassifier()
knn.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [ ]:
y_pred = knn.predict(X_test)
print("K Nearest Neighbors")
print("Accuracy : ", accuracy_score(y_test, y_pred) *  100)
print("Roc AUC score: ", roc_auc_score(y_test,y_pred))

K Nearest Neighbors
Accuracy :  69.16997149368889
Roc AUC score:  0.5421408033849902

In [ ]:
mlp = MLPClassifier()
mlp.fit(X_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:573: UserWarning: Training interrupted by user.
  warnings.warn("Training interrupted by user.")

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
              beta_2=0.999, early_stopping=False, epsilon=1e-08,
              hidden_layer_sizes=(100,), learning_rate='constant',
              learning_rate_init=0.001, max_fun=15000, max_iter=200,
              momentum=0.9, n_iter_no_change=10, nesterovs_momentum=True,
              power_t=0.5, random_state=None, shuffle=True, solver='adam',
              tol=0.0001, validation_fraction=0.1, verbose=False,
              warm_start=False)

In [ ]:
y_pred = mlp.predict(X_test)
print("MLP Classifier")
print("Accuracy : ", accuracy_score(y_test, y_pred) *  100)
print("Roc AUC score: ", roc_auc_score(y_test,y_pred))

MLP Classifier
Accuracy :  73.79092119294381
Roc AUC score:  0.5

In [ ]:
cat = CatBoostClassifier()
le = LabelEncoder()
y_enc_train = le.fit_transform(y_train)
cat.fit(X_train,y_enc_train)

Learning rate set to 0.137281
0:	learn: 0.6481301	total: 143ms	remaining: 2m 23s
1:	learn: 0.6159434	total: 291ms	remaining: 2m 25s
2:	learn: 0.5937506	total: 426ms	remaining: 2m 21s
3:	learn: 0.5778389	total: 581ms	remaining: 2m 24s
4:	learn: 0.5665350	total: 722ms	remaining: 2m 23s
5:	learn: 0.5593394	total: 870ms	remaining: 2m 24s
6:	learn: 0.5532265	total: 1.02s	remaining: 2m 25s
7:	learn: 0.5490207	total: 1.17s	remaining: 2m 25s
8:	learn: 0.5459904	total: 1.33s	remaining: 2m 26s
9:	learn: 0.5433015	total: 1.49s	remaining: 2m 27s
10:	learn: 0.5413106	total: 1.63s	remaining: 2m 26s
11:	learn: 0.5400327	total: 1.78s	remaining: 2m 26s
12:	learn: 0.5388702	total: 1.93s	remaining: 2m 26s
13:	learn: 0.5382751	total: 2.07s	remaining: 2m 25s
14:	learn: 0.5375771	total: 2.21s	remaining: 2m 25s
15:	learn: 0.5371854	total: 2.34s	remaining: 2m 24s
16:	learn: 0.5367109	total: 2.49s	remaining: 2m 24s
17:	learn: 0.5361952	total: 2.64s	remaining: 2m 24s
18:	learn: 0.5360151	total: 2.76s	remaining: 2m 22s
19:	learn: 0.5357611	total: 2.91s	remaining: 2m 22s
20:	learn: 0.5355221	total: 3.05s	remaining: 2m 22s
21:	learn: 0.5353325	total: 3.2s	remaining: 2m 22s
22:	learn: 0.5352041	total: 3.35s	remaining: 2m 22s
23:	learn: 0.5350178	total: 3.5s	remaining: 2m 22s
24:	learn: 0.5348690	total: 3.64s	remaining: 2m 21s
25:	learn: 0.5347554	total: 3.78s	remaining: 2m 21s
26:	learn: 0.5346054	total: 3.93s	remaining: 2m 21s
27:	learn: 0.5345057	total: 4.08s	remaining: 2m 21s
28:	learn: 0.5343970	total: 4.21s	remaining: 2m 20s
29:	learn: 0.5343053	total: 4.36s	remaining: 2m 21s
30:	learn: 0.5342532	total: 4.51s	remaining: 2m 21s
31:	learn: 0.5341908	total: 4.68s	remaining: 2m 21s
32:	learn: 0.5340879	total: 4.83s	remaining: 2m 21s
33:	learn: 0.5340024	total: 4.97s	remaining: 2m 21s
34:	learn: 0.5339440	total: 5.11s	remaining: 2m 20s
35:	learn: 0.5338672	total: 5.26s	remaining: 2m 20s
36:	learn: 0.5338101	total: 5.39s	remaining: 2m 20s
37:	learn: 0.5337719	total: 5.55s	remaining: 2m 20s
38:	learn: 0.5337070	total: 5.69s	remaining: 2m 20s
39:	learn: 0.5336555	total: 5.83s	remaining: 2m 19s
40:	learn: 0.5336150	total: 5.97s	remaining: 2m 19s
41:	learn: 0.5335644	total: 6.1s	remaining: 2m 19s
42:	learn: 0.5334997	total: 6.25s	remaining: 2m 19s
43:	learn: 0.5334555	total: 6.41s	remaining: 2m 19s
44:	learn: 0.5333412	total: 6.54s	remaining: 2m 18s
45:	learn: 0.5332925	total: 6.69s	remaining: 2m 18s
46:	learn: 0.5332482	total: 6.82s	remaining: 2m 18s
47:	learn: 0.5331883	total: 6.96s	remaining: 2m 18s
48:	learn: 0.5330985	total: 7.1s	remaining: 2m 17s
49:	learn: 0.5330508	total: 7.25s	remaining: 2m 17s
50:	learn: 0.5329969	total: 7.41s	remaining: 2m 17s
51:	learn: 0.5329521	total: 7.54s	remaining: 2m 17s
52:	learn: 0.5329187	total: 7.68s	remaining: 2m 17s
53:	learn: 0.5328731	total: 7.83s	remaining: 2m 17s
54:	learn: 0.5328312	total: 7.98s	remaining: 2m 17s
55:	learn: 0.5327989	total: 8.13s	remaining: 2m 16s
56:	learn: 0.5327648	total: 8.28s	remaining: 2m 17s
57:	learn: 0.5327330	total: 8.45s	remaining: 2m 17s
58:	learn: 0.5326843	total: 8.59s	remaining: 2m 17s
59:	learn: 0.5326642	total: 8.73s	remaining: 2m 16s
60:	learn: 0.5326252	total: 8.86s	remaining: 2m 16s
61:	learn: 0.5325962	total: 9.02s	remaining: 2m 16s
62:	learn: 0.5325617	total: 9.15s	remaining: 2m 16s
63:	learn: 0.5325262	total: 9.27s	remaining: 2m 15s
64:	learn: 0.5324988	total: 9.43s	remaining: 2m 15s
65:	learn: 0.5324614	total: 9.57s	remaining: 2m 15s
66:	learn: 0.5324232	total: 9.72s	remaining: 2m 15s
67:	learn: 0.5323574	total: 9.86s	remaining: 2m 15s
68:	learn: 0.5323312	total: 10s	remaining: 2m 15s
69:	learn: 0.5322666	total: 10.2s	remaining: 2m 14s
70:	learn: 0.5322469	total: 10.3s	remaining: 2m 14s
71:	learn: 0.5322061	total: 10.4s	remaining: 2m 14s
72:	learn: 0.5321575	total: 10.6s	remaining: 2m 14s
73:	learn: 0.5321289	total: 10.7s	remaining: 2m 14s
74:	learn: 0.5321100	total: 10.9s	remaining: 2m 14s
75:	learn: 0.5320865	total: 11s	remaining: 2m 14s
76:	learn: 0.5320568	total: 11.2s	remaining: 2m 13s
77:	learn: 0.5320202	total: 11.3s	remaining: 2m 13s
78:	learn: 0.5319847	total: 11.4s	remaining: 2m 13s
79:	learn: 0.5319681	total: 11.6s	remaining: 2m 13s
80:	learn: 0.5319522	total: 11.8s	remaining: 2m 13s
81:	learn: 0.5319020	total: 11.9s	remaining: 2m 13s
82:	learn: 0.5318541	total: 12s	remaining: 2m 12s
83:	learn: 0.5318369	total: 12.2s	remaining: 2m 12s
84:	learn: 0.5317905	total: 12.3s	remaining: 2m 12s
85:	learn: 0.5317579	total: 12.5s	remaining: 2m 12s
86:	learn: 0.5317351	total: 12.6s	remaining: 2m 12s
87:	learn: 0.5317128	total: 12.7s	remaining: 2m 12s
88:	learn: 0.5316618	total: 12.9s	remaining: 2m 11s
89:	learn: 0.5316345	total: 13s	remaining: 2m 11s
90:	learn: 0.5315893	total: 13.1s	remaining: 2m 11s
91:	learn: 0.5315629	total: 13.3s	remaining: 2m 11s
92:	learn: 0.5315306	total: 13.5s	remaining: 2m 11s
93:	learn: 0.5315116	total: 13.6s	remaining: 2m 11s
94:	learn: 0.5314871	total: 13.7s	remaining: 2m 10s
95:	learn: 0.5314509	total: 13.9s	remaining: 2m 10s
96:	learn: 0.5314263	total: 14s	remaining: 2m 10s
97:	learn: 0.5313944	total: 14.1s	remaining: 2m 10s
98:	learn: 0.5313416	total: 14.3s	remaining: 2m 10s
99:	learn: 0.5313105	total: 14.5s	remaining: 2m 10s
100:	learn: 0.5312866	total: 14.6s	remaining: 2m 9s
101:	learn: 0.5312422	total: 14.8s	remaining: 2m 9s
102:	learn: 0.5312114	total: 14.9s	remaining: 2m 9s
103:	learn: 0.5311933	total: 15.1s	remaining: 2m 9s
104:	learn: 0.5311635	total: 15.2s	remaining: 2m 9s
105:	learn: 0.5311298	total: 15.3s	remaining: 2m 9s
106:	learn: 0.5311115	total: 15.5s	remaining: 2m 9s
107:	learn: 0.5310852	total: 15.6s	remaining: 2m 9s
108:	learn: 0.5310414	total: 15.8s	remaining: 2m 8s
109:	learn: 0.5310085	total: 15.9s	remaining: 2m 8s
110:	learn: 0.5309485	total: 16s	remaining: 2m 8s
111:	learn: 0.5309103	total: 16.2s	remaining: 2m 8s
112:	learn: 0.5308801	total: 16.3s	remaining: 2m 8s
113:	learn: 0.5308293	total: 16.5s	remaining: 2m 8s
114:	learn: 0.5307952	total: 16.6s	remaining: 2m 7s
115:	learn: 0.5307680	total: 16.8s	remaining: 2m 7s
116:	learn: 0.5307424	total: 16.9s	remaining: 2m 7s
117:	learn: 0.5307147	total: 17.1s	remaining: 2m 7s
118:	learn: 0.5306730	total: 17.2s	remaining: 2m 7s
119:	learn: 0.5306381	total: 17.3s	remaining: 2m 7s
120:	learn: 0.5305826	total: 17.5s	remaining: 2m 6s
121:	learn: 0.5305384	total: 17.6s	remaining: 2m 6s
122:	learn: 0.5305155	total: 17.7s	remaining: 2m 6s
123:	learn: 0.5304909	total: 17.9s	remaining: 2m 6s
124:	learn: 0.5304735	total: 18s	remaining: 2m 6s
125:	learn: 0.5304375	total: 18.2s	remaining: 2m 6s
126:	learn: 0.5304136	total: 18.3s	remaining: 2m 5s
127:	learn: 0.5303901	total: 18.5s	remaining: 2m 5s
128:	learn: 0.5303582	total: 18.6s	remaining: 2m 5s
129:	learn: 0.5303366	total: 18.7s	remaining: 2m 5s
130:	learn: 0.5303245	total: 18.9s	remaining: 2m 5s
131:	learn: 0.5302920	total: 19s	remaining: 2m 5s
132:	learn: 0.5302623	total: 19.2s	remaining: 2m 4s
133:	learn: 0.5302286	total: 19.3s	remaining: 2m 4s
134:	learn: 0.5302083	total: 19.5s	remaining: 2m 4s
135:	learn: 0.5301863	total: 19.6s	remaining: 2m 4s
136:	learn: 0.5301678	total: 19.7s	remaining: 2m 4s
137:	learn: 0.5301444	total: 19.9s	remaining: 2m 4s
138:	learn: 0.5301216	total: 20s	remaining: 2m 4s
139:	learn: 0.5300926	total: 20.2s	remaining: 2m 4s
140:	learn: 0.5300763	total: 20.4s	remaining: 2m 3s
141:	learn: 0.5300467	total: 20.5s	remaining: 2m 3s
142:	learn: 0.5300350	total: 20.7s	remaining: 2m 3s
143:	learn: 0.5300101	total: 20.8s	remaining: 2m 3s
144:	learn: 0.5299899	total: 21s	remaining: 2m 3s
145:	learn: 0.5299589	total: 21.1s	remaining: 2m 3s
146:	learn: 0.5299436	total: 21.3s	remaining: 2m 3s
147:	learn: 0.5299181	total: 21.4s	remaining: 2m 3s
148:	learn: 0.5299007	total: 21.6s	remaining: 2m 3s
149:	learn: 0.5298578	total: 21.7s	remaining: 2m 3s
150:	learn: 0.5298342	total: 21.9s	remaining: 2m 2s
151:	learn: 0.5298084	total: 22s	remaining: 2m 2s
152:	learn: 0.5297814	total: 22.1s	remaining: 2m 2s
153:	learn: 0.5297553	total: 22.3s	remaining: 2m 2s
154:	learn: 0.5297099	total: 22.5s	remaining: 2m 2s
155:	learn: 0.5296817	total: 22.6s	remaining: 2m 2s
156:	learn: 0.5296500	total: 22.7s	remaining: 2m 2s
157:	learn: 0.5296204	total: 22.9s	remaining: 2m 1s
158:	learn: 0.5295951	total: 23s	remaining: 2m 1s
159:	learn: 0.5295821	total: 23.1s	remaining: 2m 1s
160:	learn: 0.5295609	total: 23.3s	remaining: 2m 1s
161:	learn: 0.5295355	total: 23.4s	remaining: 2m 1s
162:	learn: 0.5295059	total: 23.6s	remaining: 2m 1s
163:	learn: 0.5294773	total: 23.7s	remaining: 2m
164:	learn: 0.5294548	total: 23.9s	remaining: 2m
165:	learn: 0.5294355	total: 24s	remaining: 2m
166:	learn: 0.5294144	total: 24.1s	remaining: 2m
167:	learn: 0.5293923	total: 24.3s	remaining: 2m
168:	learn: 0.5293669	total: 24.4s	remaining: 2m
169:	learn: 0.5293463	total: 24.6s	remaining: 2m
170:	learn: 0.5293198	total: 24.7s	remaining: 1m 59s
171:	learn: 0.5292925	total: 24.9s	remaining: 1m 59s
172:	learn: 0.5292720	total: 25s	remaining: 1m 59s
173:	learn: 0.5292586	total: 25.2s	remaining: 1m 59s
174:	learn: 0.5292299	total: 25.3s	remaining: 1m 59s
175:	learn: 0.5292113	total: 25.4s	remaining: 1m 59s
176:	learn: 0.5291953	total: 25.6s	remaining: 1m 59s
177:	learn: 0.5291741	total: 25.7s	remaining: 1m 58s
178:	learn: 0.5291493	total: 25.9s	remaining: 1m 58s
179:	learn: 0.5291331	total: 26s	remaining: 1m 58s
180:	learn: 0.5291047	total: 26.2s	remaining: 1m 58s
181:	learn: 0.5290768	total: 26.3s	remaining: 1m 58s
182:	learn: 0.5290557	total: 26.4s	remaining: 1m 58s
183:	learn: 0.5290240	total: 26.6s	remaining: 1m 57s
184:	learn: 0.5290010	total: 26.7s	remaining: 1m 57s
185:	learn: 0.5289839	total: 26.9s	remaining: 1m 57s
186:	learn: 0.5289611	total: 27s	remaining: 1m 57s
187:	learn: 0.5289297	total: 27.2s	remaining: 1m 57s
188:	learn: 0.5289151	total: 27.3s	remaining: 1m 57s
189:	learn: 0.5288855	total: 27.5s	remaining: 1m 57s
190:	learn: 0.5288666	total: 27.6s	remaining: 1m 57s
191:	learn: 0.5288488	total: 27.8s	remaining: 1m 56s
192:	learn: 0.5288371	total: 27.9s	remaining: 1m 56s
193:	learn: 0.5288150	total: 28.1s	remaining: 1m 56s
194:	learn: 0.5287879	total: 28.2s	remaining: 1m 56s
195:	learn: 0.5287667	total: 28.4s	remaining: 1m 56s
196:	learn: 0.5287434	total: 28.5s	remaining: 1m 56s
197:	learn: 0.5287087	total: 28.7s	remaining: 1m 56s
198:	learn: 0.5286885	total: 28.8s	remaining: 1m 55s
199:	learn: 0.5286603	total: 29s	remaining: 1m 55s
200:	learn: 0.5286442	total: 29.1s	remaining: 1m 55s
201:	learn: 0.5286225	total: 29.3s	remaining: 1m 55s
202:	learn: 0.5285950	total: 29.4s	remaining: 1m 55s
203:	learn: 0.5285803	total: 29.6s	remaining: 1m 55s
204:	learn: 0.5285644	total: 29.7s	remaining: 1m 55s
205:	learn: 0.5285444	total: 29.9s	remaining: 1m 55s
206:	learn: 0.5285246	total: 30s	remaining: 1m 54s
207:	learn: 0.5284913	total: 30.2s	remaining: 1m 54s
208:	learn: 0.5284742	total: 30.3s	remaining: 1m 54s
209:	learn: 0.5284508	total: 30.5s	remaining: 1m 54s
210:	learn: 0.5284345	total: 30.6s	remaining: 1m 54s
211:	learn: 0.5284137	total: 30.8s	remaining: 1m 54s
212:	learn: 0.5283977	total: 30.9s	remaining: 1m 54s
213:	learn: 0.5283851	total: 31.1s	remaining: 1m 54s
214:	learn: 0.5283653	total: 31.2s	remaining: 1m 54s
215:	learn: 0.5283511	total: 31.4s	remaining: 1m 53s
216:	learn: 0.5283307	total: 31.5s	remaining: 1m 53s
217:	learn: 0.5283105	total: 31.7s	remaining: 1m 53s
218:	learn: 0.5282959	total: 31.8s	remaining: 1m 53s
219:	learn: 0.5282766	total: 32s	remaining: 1m 53s
220:	learn: 0.5282583	total: 32.1s	remaining: 1m 53s
221:	learn: 0.5282318	total: 32.3s	remaining: 1m 53s
222:	learn: 0.5282224	total: 32.4s	remaining: 1m 52s
223:	learn: 0.5281973	total: 32.6s	remaining: 1m 52s
224:	learn: 0.5281820	total: 32.7s	remaining: 1m 52s
225:	learn: 0.5281689	total: 32.8s	remaining: 1m 52s
226:	learn: 0.5281519	total: 33s	remaining: 1m 52s
227:	learn: 0.5281393	total: 33.1s	remaining: 1m 52s
228:	learn: 0.5281221	total: 33.3s	remaining: 1m 52s
229:	learn: 0.5281035	total: 33.4s	remaining: 1m 51s
230:	learn: 0.5280870	total: 33.6s	remaining: 1m 51s
231:	learn: 0.5280685	total: 33.7s	remaining: 1m 51s
232:	learn: 0.5280430	total: 33.8s	remaining: 1m 51s
233:	learn: 0.5280281	total: 34s	remaining: 1m 51s
234:	learn: 0.5279995	total: 34.1s	remaining: 1m 51s
235:	learn: 0.5279737	total: 34.3s	remaining: 1m 50s
236:	learn: 0.5279391	total: 34.4s	remaining: 1m 50s
237:	learn: 0.5279199	total: 34.6s	remaining: 1m 50s
238:	learn: 0.5278991	total: 34.7s	remaining: 1m 50s
239:	learn: 0.5278781	total: 34.9s	remaining: 1m 50s
240:	learn: 0.5278551	total: 35s	remaining: 1m 50s
241:	learn: 0.5278357	total: 35.2s	remaining: 1m 50s
242:	learn: 0.5278139	total: 35.4s	remaining: 1m 50s
243:	learn: 0.5278015	total: 35.5s	remaining: 1m 49s
244:	learn: 0.5277895	total: 35.7s	remaining: 1m 49s
245:	learn: 0.5277729	total: 35.8s	remaining: 1m 49s
246:	learn: 0.5277567	total: 35.9s	remaining: 1m 49s
247:	learn: 0.5277371	total: 36.1s	remaining: 1m 49s
248:	learn: 0.5277257	total: 36.2s	remaining: 1m 49s
249:	learn: 0.5277092	total: 36.4s	remaining: 1m 49s
250:	learn: 0.5276885	total: 36.5s	remaining: 1m 48s
251:	learn: 0.5276680	total: 36.6s	remaining: 1m 48s
252:	learn: 0.5276510	total: 36.8s	remaining: 1m 48s
253:	learn: 0.5276279	total: 36.9s	remaining: 1m 48s
254:	learn: 0.5276139	total: 37.1s	remaining: 1m 48s
255:	learn: 0.5275915	total: 37.2s	remaining: 1m 48s
256:	learn: 0.5275797	total: 37.3s	remaining: 1m 47s
257:	learn: 0.5275650	total: 37.5s	remaining: 1m 47s
258:	learn: 0.5275494	total: 37.7s	remaining: 1m 47s
259:	learn: 0.5275337	total: 37.8s	remaining: 1m 47s
260:	learn: 0.5275181	total: 38s	remaining: 1m 47s
261:	learn: 0.5274996	total: 38.1s	remaining: 1m 47s
262:	learn: 0.5274792	total: 38.3s	remaining: 1m 47s
263:	learn: 0.5274596	total: 38.4s	remaining: 1m 47s
264:	learn: 0.5274501	total: 38.6s	remaining: 1m 46s
265:	learn: 0.5274384	total: 38.7s	remaining: 1m 46s
266:	learn: 0.5274190	total: 38.9s	remaining: 1m 46s
267:	learn: 0.5274054	total: 39s	remaining: 1m 46s
268:	learn: 0.5273845	total: 39.2s	remaining: 1m 46s
269:	learn: 0.5273763	total: 39.3s	remaining: 1m 46s
270:	learn: 0.5273652	total: 39.5s	remaining: 1m 46s
271:	learn: 0.5273530	total: 39.6s	remaining: 1m 45s
272:	learn: 0.5273418	total: 39.8s	remaining: 1m 45s
273:	learn: 0.5273227	total: 39.9s	remaining: 1m 45s
274:	learn: 0.5273008	total: 40s	remaining: 1m 45s
275:	learn: 0.5272895	total: 40.2s	remaining: 1m 45s
276:	learn: 0.5272780	total: 40.3s	remaining: 1m 45s
277:	learn: 0.5272579	total: 40.5s	remaining: 1m 45s
278:	learn: 0.5272429	total: 40.6s	remaining: 1m 44s
279:	learn: 0.5272240	total: 40.8s	remaining: 1m 44s
280:	learn: 0.5272085	total: 40.9s	remaining: 1m 44s
281:	learn: 0.5271960	total: 41.1s	remaining: 1m 44s
282:	learn: 0.5271803	total: 41.3s	remaining: 1m 44s
283:	learn: 0.5271709	total: 41.4s	remaining: 1m 44s
284:	learn: 0.5271618	total: 41.6s	remaining: 1m 44s
285:	learn: 0.5271477	total: 41.7s	remaining: 1m 44s
286:	learn: 0.5271351	total: 41.9s	remaining: 1m 44s
287:	learn: 0.5271176	total: 42s	remaining: 1m 43s
288:	learn: 0.5271034	total: 42.2s	remaining: 1m 43s
289:	learn: 0.5270812	total: 42.3s	remaining: 1m 43s
290:	learn: 0.5270675	total: 42.4s	remaining: 1m 43s
291:	learn: 0.5270557	total: 42.6s	remaining: 1m 43s
292:	learn: 0.5270412	total: 42.8s	remaining: 1m 43s
293:	learn: 0.5270327	total: 42.9s	remaining: 1m 43s
294:	learn: 0.5270177	total: 43.1s	remaining: 1m 42s
295:	learn: 0.5270026	total: 43.2s	remaining: 1m 42s
296:	learn: 0.5269876	total: 43.3s	remaining: 1m 42s
297:	learn: 0.5269759	total: 43.5s	remaining: 1m 42s
298:	learn: 0.5269653	total: 43.7s	remaining: 1m 42s
299:	learn: 0.5269456	total: 43.8s	remaining: 1m 42s
300:	learn: 0.5269211	total: 44s	remaining: 1m 42s
301:	learn: 0.5269019	total: 44.1s	remaining: 1m 41s
302:	learn: 0.5268871	total: 44.3s	remaining: 1m 41s
303:	learn: 0.5268647	total: 44.4s	remaining: 1m 41s
304:	learn: 0.5268550	total: 44.5s	remaining: 1m 41s
305:	learn: 0.5268426	total: 44.7s	remaining: 1m 41s
306:	learn: 0.5268278	total: 44.9s	remaining: 1m 41s
307:	learn: 0.5268135	total: 45s	remaining: 1m 41s
308:	learn: 0.5267959	total: 45.2s	remaining: 1m 41s
309:	learn: 0.5267759	total: 45.3s	remaining: 1m 40s
310:	learn: 0.5267606	total: 45.5s	remaining: 1m 40s
311:	learn: 0.5267536	total: 45.6s	remaining: 1m 40s
312:	learn: 0.5267368	total: 45.8s	remaining: 1m 40s
313:	learn: 0.5267179	total: 45.9s	remaining: 1m 40s
314:	learn: 0.5267089	total: 46.1s	remaining: 1m 40s
315:	learn: 0.5266911	total: 46.2s	remaining: 1m 40s
316:	learn: 0.5266776	total: 46.4s	remaining: 1m 39s
317:	learn: 0.5266513	total: 46.5s	remaining: 1m 39s
318:	learn: 0.5266361	total: 46.7s	remaining: 1m 39s
319:	learn: 0.5266234	total: 46.8s	remaining: 1m 39s
320:	learn: 0.5266117	total: 47s	remaining: 1m 39s
321:	learn: 0.5265923	total: 47.1s	remaining: 1m 39s
322:	learn: 0.5265730	total: 47.3s	remaining: 1m 39s
323:	learn: 0.5265591	total: 47.4s	remaining: 1m 38s
324:	learn: 0.5265450	total: 47.6s	remaining: 1m 38s
325:	learn: 0.5265329	total: 47.7s	remaining: 1m 38s
326:	learn: 0.5265195	total: 47.9s	remaining: 1m 38s
327:	learn: 0.5265084	total: 48s	remaining: 1m 38s
328:	learn: 0.5264986	total: 48.2s	remaining: 1m 38s
329:	learn: 0.5264878	total: 48.3s	remaining: 1m 38s
330:	learn: 0.5264719	total: 48.5s	remaining: 1m 37s
331:	learn: 0.5264644	total: 48.6s	remaining: 1m 37s
332:	learn: 0.5264502	total: 48.8s	remaining: 1m 37s
333:	learn: 0.5264385	total: 48.9s	remaining: 1m 37s
334:	learn: 0.5264182	total: 49.1s	remaining: 1m 37s
335:	learn: 0.5264095	total: 49.2s	remaining: 1m 37s
336:	learn: 0.5263945	total: 49.4s	remaining: 1m 37s
337:	learn: 0.5263776	total: 49.5s	remaining: 1m 36s
338:	learn: 0.5263686	total: 49.6s	remaining: 1m 36s
339:	learn: 0.5263502	total: 49.8s	remaining: 1m 36s
340:	learn: 0.5263407	total: 49.9s	remaining: 1m 36s
341:	learn: 0.5263210	total: 50.1s	remaining: 1m 36s
342:	learn: 0.5263080	total: 50.2s	remaining: 1m 36s
343:	learn: 0.5262909	total: 50.4s	remaining: 1m 36s
344:	learn: 0.5262719	total: 50.5s	remaining: 1m 35s
345:	learn: 0.5262601	total: 50.7s	remaining: 1m 35s
346:	learn: 0.5262468	total: 50.8s	remaining: 1m 35s
347:	learn: 0.5262370	total: 51s	remaining: 1m 35s
348:	learn: 0.5262201	total: 51.1s	remaining: 1m 35s
349:	learn: 0.5262058	total: 51.3s	remaining: 1m 35s
350:	learn: 0.5261917	total: 51.4s	remaining: 1m 35s
351:	learn: 0.5261784	total: 51.6s	remaining: 1m 34s
352:	learn: 0.5261649	total: 51.7s	remaining: 1m 34s
353:	learn: 0.5261527	total: 51.9s	remaining: 1m 34s
354:	learn: 0.5261422	total: 52s	remaining: 1m 34s
355:	learn: 0.5261309	total: 52.2s	remaining: 1m 34s
356:	learn: 0.5261184	total: 52.3s	remaining: 1m 34s
357:	learn: 0.5261001	total: 52.5s	remaining: 1m 34s
358:	learn: 0.5260893	total: 52.6s	remaining: 1m 33s
359:	learn: 0.5260821	total: 52.8s	remaining: 1m 33s
360:	learn: 0.5260719	total: 52.9s	remaining: 1m 33s
361:	learn: 0.5260581	total: 53.1s	remaining: 1m 33s
362:	learn: 0.5260410	total: 53.2s	remaining: 1m 33s
363:	learn: 0.5260273	total: 53.4s	remaining: 1m 33s
364:	learn: 0.5260135	total: 53.5s	remaining: 1m 33s
365:	learn: 0.5260032	total: 53.7s	remaining: 1m 32s
366:	learn: 0.5259870	total: 53.8s	remaining: 1m 32s
367:	learn: 0.5259732	total: 54s	remaining: 1m 32s
368:	learn: 0.5259620	total: 54.1s	remaining: 1m 32s
369:	learn: 0.5259471	total: 54.2s	remaining: 1m 32s
370:	learn: 0.5259357	total: 54.4s	remaining: 1m 32s
371:	learn: 0.5259188	total: 54.6s	remaining: 1m 32s
372:	learn: 0.5259102	total: 54.7s	remaining: 1m 31s
373:	learn: 0.5258999	total: 54.9s	remaining: 1m 31s
374:	learn: 0.5258877	total: 55s	remaining: 1m 31s
375:	learn: 0.5258736	total: 55.2s	remaining: 1m 31s
376:	learn: 0.5258636	total: 55.3s	remaining: 1m 31s
377:	learn: 0.5258445	total: 55.5s	remaining: 1m 31s
378:	learn: 0.5258248	total: 55.6s	remaining: 1m 31s
379:	learn: 0.5258089	total: 55.8s	remaining: 1m 31s
380:	learn: 0.5257952	total: 55.9s	remaining: 1m 30s

In [ ]:
y_enc_test = le.transform(y_test)
y_pred = cat.predict(X_test)
print("CatBoost Classifier")
print("Accuracy : ", accuracy_score(y_enc_test, y_pred) *  100)
print("Roc AUC score: ", roc_auc_score(y_enc_test,y_pred))

CatBoost Classifier
Accuracy :  73.93937704301038
Roc AUC score:  0.5162844666408463

Gaussian NB performs the best so far. Lets see its class weights

In [ ]:
imps = permutation_importance(gnb, X_test, y_test)
print(imps.importances_mean)

[ 0.02028339  0.00277536  0.00022303 -0.00042237 -0.00247287 -0.00185674
  0.00038891  0.00067467 -0.00314057 -0.00124201  0.00252166 -0.00082661
 -0.00013661 -0.00110959 -0.00011012 -0.00294681 -0.00091025 -0.00121134
 -0.0001394  -0.00197105 -0.00316706  0.00021049 -0.00125874 -0.00163789
 -0.00135492  0.0002537 ]

In [ ]:
imps_train = permutation_importance(gnb, X_train, y_train)
print(imps.importances_mean)

[ 0.02028339  0.00277536  0.00022303 -0.00042237 -0.00247287 -0.00185674
  0.00038891  0.00067467 -0.00314057 -0.00124201  0.00252166 -0.00082661
 -0.00013661 -0.00110959 -0.00011012 -0.00294681 -0.00091025 -0.00121134
 -0.0001394  -0.00197105 -0.00316706  0.00021049 -0.00125874 -0.00163789
 -0.00135492  0.0002537 ]

In [ ]:
importance = [x for x in (imps.importances_mean,X_train.columns)]
importance

[array([ 0.02028339,  0.00277536,  0.00022303, -0.00042237, -0.00247287,
        -0.00185674,  0.00038891,  0.00067467, -0.00314057, -0.00124201,
         0.00252166, -0.00082661, -0.00013661, -0.00110959, -0.00011012,
        -0.00294681, -0.00091025, -0.00121134, -0.0001394 , -0.00197105,
        -0.00316706,  0.00021049, -0.00125874, -0.00163789, -0.00135492,
         0.0002537 ]),
 Index(['review_date', 'rating_x', 'duration', 'rating_y', 'release_date',
        'Action', 'Adventure', 'Animation', 'Biography', 'Comedy', 'Crime',
        'Drama', 'Family', 'Fantasy', 'Film-Noir', 'History', 'Horror', 'Music',
        'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Sport', 'Thriller', 'War',
        'Western'],
       dtype='object')]

In [ ]:
print(sorted(imps.importances_mean))

[-0.0031670581347533087, -0.003140573053520801, -0.002946813775030166, -0.0024728702161322057, -0.0019710476243579135, -0.0018567435895649354, -0.0016378931814855723, -0.0013549209977906207, -0.001258738334367182, -0.0012420109146414004, -0.0012113439784773971, -0.0011095855084787276, -0.0009102504234128394, -0.0008266133247837981, -0.0004223673480767243, -0.00013939516438175037, -0.000136607261094146, -0.00011012217986161588, 0.00021048669821643884, 0.0002230322630107695, 0.0002536991991747728, 0.00038891250862507223, 0.0006746725956076283, 0.002521658523665793, 0.0027753577228405656, 0.020283390369188047]

Highest value features are review_date, crime, IMDB rating, Animation

Lowest value features are Romance, Biography, History

In [ ]:
spoilers = df[df["is_spoiler"]]
spoilers

        Unnamed: 0  review_date  is_spoiler  ...  Thriller War  Western
0                0         2006        True  ...         0   0        0
1                1         2000        True  ...         0   0        0
2                2         2001        True  ...         0   0        0
3                3         2002        True  ...         0   0        0
4                4         2004        True  ...         0   0        0
...            ...          ...         ...  ...       ...  ..      ...
573640      573640         1999        True  ...         0   0        0
573641      573641         2006        True  ...         0   0        0
573642      573642         2000        True  ...         0   0        0
573643      573643         2014        True  ...         0   0        0
573644      573644         2003        True  ...         0   0        0

[150924 rows x 33 columns]

In [ ]:
spoilers_cat = spoilers.drop(["Unnamed: 0", 'review_date','is_spoiler','rating_x','movie_id_y','duration','rating_y','release_date','review_without_stopwords','description_without_stopwords','review_summary_without_stopwords','plot_summary_without_stopwords'],1)

In [ ]:
spoilers_cat.value_counts().head(10)

Action  Adventure  Animation  Biography  Comedy  Crime  Drama  Family  Fantasy  Film-Noir  History  Horror  Music  Musical  Mystery  Romance  Sci-Fi  Sport  Thriller  War  Western
1       1          0          0          0       0      0      0       0        0          0        0       0      0        0        0        1       0      0         0    0          12959
                                                                       1        0          0        0       0      0        0        0        0       0      0         0    0           6682
0       0          0          0          0       1      1      0       0        0          0        0       0      0        0        0        0       0      0         0    0           4450
                                                 0      1      0       0        0          0        0       0      0        0        1        0       0      0         0    0           4211
                                                                                                                                     0        0       0      0         0    0           4048
1       0          0          0          0       1      1      0       0        0          0        0       0      0        0        0        0       0      0         0    0           3890
0       0          0          0          0       1      1      0       0        0          0        0       0      0        0        0        0       0      1         0    0           3771
                                                                                                                            1        0        0       0      0         0    0           3747
1       1          0          0          0       0      1      0       0        0          0        0       0      0        0        0        0       0      0         0    0           3328
0       1          0          0          0       0      0      1       1        0          0        0       0      0        0        0        0       0      0         0    0           3323
dtype: int64

In [ ]:
spoilers_cat['Action'].value_counts()

0    97026
1    53898
Name: Action, dtype: int64

In [ ]:
spoilers_cat['Adventure'].value_counts()

0    97189
1    53735
Name: Adventure, dtype: int64

In [ ]:
spoilers_cat['Animation'].value_counts()

0    144090
1      6834
Name: Animation, dtype: int64

In [ ]:
spoilers_cat['Biography'].value_counts()

0    142932
1      7992
Name: Biography, dtype: int64

In [ ]:
spoilers_cat['Comedy'].value_counts()

0    121612
1     29312
Name: Comedy, dtype: int64

In [ ]:
spoilers_cat['Crime'].value_counts()

0    123911
1     27013
Name: Crime, dtype: int64

In [ ]:
spoilers_cat['Drama'].value_counts()

0    76693
1    74231
Name: Drama, dtype: int64

In [ ]:
spoilers_cat['Family'].value_counts()

0    140222
1     10702
Name: Family, dtype: int64

In [ ]:
spoilers_cat['Fantasy'].value_counts()

0    129230
1     21694
Name: Fantasy, dtype: int64

In [ ]:
spoilers_cat['Film-Noir'].value_counts()

0    150436
1       488
Name: Film-Noir, dtype: int64

In [ ]:
History  Horror  Music  Musical  Mystery  Romance  Sci-Fi  Sport  Thriller  War  Western

In [ ]:
spoilers_cat['History'].value_counts()

0    145256
1      5668
Name: History, dtype: int64

In [ ]:
spoilers_cat['Horror'].value_counts()

0    137045
1     13879
Name: Horror, dtype: int64

In [ ]:
spoilers_cat['Music'].value_counts()

0    149086
1      1838
Name: Music, dtype: int64

In [ ]:
spoilers_cat['Musical'].value_counts()

0    149804
1      1120
Name: Musical, dtype: int64

In [ ]:
spoilers_cat['Mystery'].value_counts()

0    132381
1     18543
Name: Mystery, dtype: int64

In [ ]:
for i in spoilers_cat.columns:
  print(spoilers_cat[i].value_counts())
  print(spoilers_cat[i].value_counts()[1]/(spoilers_cat[i].value_counts()[1]+spoilers_cat[i].value_counts()[0]) * 100)

0    97026
1    53898
Name: Action, dtype: int64
35.7120139937982
0    97189
1    53735
Name: Adventure, dtype: int64
35.60401261562111
0    144090
1      6834
Name: Animation, dtype: int64
4.528106861731732
0    142932
1      7992
Name: Biography, dtype: int64
5.295380456388646
0    121612
1     29312
Name: Comedy, dtype: int64
19.421695687895895
0    123911
1     27013
Name: Crime, dtype: int64
17.898412445999313
0    76693
1    74231
Name: Drama, dtype: int64
49.18435768996316
0    140222
1     10702
Name: Family, dtype: int64
7.090986191725637
0    129230
1     21694
Name: Fantasy, dtype: int64
14.374122074686596
0    150436
1       488
Name: Film-Noir, dtype: int64
0.3233415493890965
0    145256
1      5668
Name: History, dtype: int64
3.7555325859372926
0    137045
1     13879
Name: Horror, dtype: int64
9.196019188465717
0    149086
1      1838
Name: Music, dtype: int64
1.217831491346638
0    149804
1      1120
Name: Musical, dtype: int64
0.7420953592536641
0    132381
1     18543
Name: Mystery, dtype: int64
12.286316291643477
0    134769
1     16155
Name: Romance, dtype: int64
10.704062972091915
0    121101
1     29823
Name: Sci-Fi, dtype: int64
19.76027669555538
0    148912
1      2012
Name: Sport, dtype: int64
1.3331213060878322
0    124153
1     26771
Name: Thriller, dtype: int64
17.738066841589145
0    148438
1      2486
Name: War, dtype: int64
1.647186663486258
0    149715
1      1209
Name: Western, dtype: int64
0.8010654369086427

Day 6

In [ ]:
!unzip 'drive/MyDrive/final_dataset.zip'

Archive:  drive/MyDrive/final_dataset.zip
  inflating: final_dataset.csv

In [ ]:
df = pd.read_csv('final_dataset.csv')

In [ ]:
import re


def clean_text(text):
    """
    Applies some pre-processing on the given text.

    Steps :
    - Removing HTML tags
    - Removing punctuation
    - Lowering text
    """
    
    # remove HTML tags
    text = re.sub(r'<.*?>', '', text)
    
    # remove the characters [\], ['] and ["]
    text = re.sub(r"\\", "", text)    
    text = re.sub(r"\'", "", text)    
    text = re.sub(r"\"", "", text)    
    
    # convert text to lowercase
    text = text.strip().lower()
    
    # replace punctuation characters with spaces
    filters='!"\'#$%&()*+,-./:;<=>?@[\\]^_`{|}~\t\n'
    translate_dict = dict((c, " ") for c in filters)
    translate_map = str.maketrans(translate_dict)
    text = text.translate(translate_map)

    return text

In [ ]:
df["review_summary_without_stopwords"] = df["review_summary_without_stopwords"].astype(str)

In [ ]:
from sklearn.metrics import accuracy_score
from sklearn.svm import LinearSVC
from sklearn.feature_extraction.text import CountVectorizer



# Transform each text into a vector of word counts
vectorizer = CountVectorizer(stop_words="english",
                             preprocessor=clean_text)

summary_bow = vectorizer.fit_transform(df["review_summary_without_stopwords"])

In [ ]:
summary_bow.toarray()